<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>{{ $ctrl.board.name }}</h3>
        </div>
    </div>
    <hr/>

    <div class="row">
        <div class="col-sm-12">
            <h4>スレッド一覧</h4>
            <ul ng-repeat="el in $ctrl.threads">
                <li><a target="_self" href="/threads/view/{{ el.id }}">{{ el.name }}</a></li>
            </ul>
        </div>
    </div>
    <hr/>

    <div class="panel panel-default" ng-if="$ctrl.user">
        <div class="panel-heading">新規スレッド作成</div>
        <div class="panel-body">
            <form method="post" accept-charset="utf-8" action="/threads/add">
                <div style="display:none;">
                    <input type="hidden" name="_method" value="POST"/>
                    <input type="hidden" name="_csrfToken" value="{{ $ctrl.csrf }}"/>
                    <input type="hidden" name="boardId" value="{{ $ctrl.board.id }}"/>
                </div>

                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="threadName" class="col-xs-1 control-label text-muted">スレッド名</label>
                        <div class="col-xs-11">
                            <input class="col-xs-12" name="threadName" rows="5" placeholder="新規スレッド"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-1">
                        <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                        </div>
                        <div class="col-xs-11">
                            <input name="postName" type="text" class="form-control" value="{{ $ctrl.postName }}" placeholder="{{ $ctrl.postName }}" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="postContent" class="col-xs-1 control-label text-muted">内容</label>
                        <div class="col-xs-11">
                            <textarea class="col-xs-12" name="postContent" rows="5" placeholder="内容"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-offset-1 col-xs-11">
                            <input type="submit" class="btn btn-default" value="Submit" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

