<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>{{ $ctrl.customDoc.docName }} {{ $ctrl.customDoc.docState == 'draft' ? '(提案)' : '' }}</h3>
            <div ng-switch on="$ctrl.customDoc.docState">
                <div ng-switch-when="published">
                    この文書は公開されています。
                </div>
                <div ng-switch-when="draft">
                    これは<a target="_self" href="/guilds/view/{{ $ctrl.customDoc.guildId }}">{{ $ctrl.customDoc.guildName }}</a>で提案されている文書です。
                </div>
                <div ng-switch-default>
                    この文書の詳細は不明です\(´・ω・｀)/ｽﾞｺｰ
                </div>
            </div>
        </div>
    </div>
    <hr/>

    <div class="row" ng-if="$ctrl.user">
        <div class="col-sm-12">
            <a target="_self" href="/docs/edit/{{ $ctrl.customDoc.docId }}">編集する</a>
        </div>
        <hr/>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h4>概要</h4>
            <ul>
                <li>文書ID: {{ $ctrl.customDoc.docId }}</li>
                <li>文書タイトル: {{ $ctrl.customDoc.docName }}</li>
                <li>タグ: <a href="#">マニュアル</a> <a href="#">ギルド</a> <a href="#">初心者</a></li>
                <li>作成ギルド: <a target="_self" href="/guilds/view/{{ $ctrl.customDoc.guildId }}">{{ $ctrl.customDoc.guildName }}</a></li>
                <li>参照先スレッド: <a target="_self" href="/threads/view/{{ $ctrl.thread.id }}">{{ $ctrl.thread.name }}</a></li>
                <li>状態: {{ $ctrl.customDoc.docState }}</li>
                <li>作成日: {{ $ctrl.customDoc.docCreated }}</li>
                <li>最終更新日: {{ $ctrl.customDoc.docModified }}</li>
            </ul>
        </div>
    </div>
    <hr/>

    <div class="row">
        <div class="col-sm-12">
            <h4>内容</h4>
            <p style="white-space: pre;">{{ $ctrl.customDoc.docContent }}</p>
        </div>
    </div>
    <hr/>

    <div class="row">
        <div class="col-sm-12">
            <h4>参照先スレッド (<a target="_self" href="/threads/view/{{ $ctrl.thread.id }}">{{ $ctrl.thread.name }}</a>)</h4>
            <ul ng-repeat="el in $ctrl.posts">
                <li>{{ $index+1 }}: {{ el.name }}: {{ el.content }}</li>
            </ul>
        </div>
    </div>
    <hr/>

</div>

