<div class="container" ng-if="$ctrl.user == null">
<p>文書の編集にはサインインが必要です。</p>
</div>

<div class="container" ng-if="$ctrl.user">
    <div class="row">
        <div class="col-sm-12">
            <h3>「{{ $ctrl.doc.name }}」の編集</h3>
        </div>
    </div>
    <hr/>

    <div class="row">
        <div class="col-sm-12">
            <form method="post" accept-charset="utf-8" action="/docs/update/">
                <div style="display:none;">
                    <input type="hidden" name="_method" value="POST"/>
                    <input type="hidden" name="_csrfToken" value="{{ $ctrl.csrf }}"/>
                    <input type="hidden" name="id" value="{{ $ctrl.doc.id }}"/>
                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="name" class="col-xs-2 control-label text-muted">題名</label>
                        <div class="col-xs-10">
                            <input class="col-sm-12" type="text" name="name" value="{{ $ctrl.doc.name }}" placeholder="題名"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="threadId" class="col-xs-2 control-label text-muted">参照先スレッド</label>
                        <div class="col-xs-10">
                            <input class="col-sm-12" type="text" name="threadId" value="{{ $ctrl.thread.id }}" placeholder="参照先スレッドID"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="content" class="col-xs-2 control-label text-muted">内容</label>
                        <div class="col-xs-10">
                            <textarea class="col-sm-12" name="content" rows="5" placeholder="内容">{{ $ctrl.doc.content }}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-2 col-xs-10">
                            <input class="btn btn-default" type="submit" value="更新する"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

