<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>「{{ $ctrl.doc.name }}」の編集</h3>
        </div>
    </div>
    <hr/>

    <div class="row">
        <div class="col-sm-12">
            <h3>内容</h3>
            <textarea class="col-sm-12">{{ $ctrl.doc.content }}</textarea>
        </div>
    </div>
    <hr/>

    <div class="row">
        <div class="col-sm-12">
            <button>保存する</button>
            <p>{{ $ctrl.csrf }}</p>
        </div>
    </div>
</div>

