<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h4>{{ $ctrl.doc.name }} ({{ $ctrl.guild.name }})</h4>
            <p>{{ $ctrl.doc.description }}</p>
        </div>
    </div>
    <hr/>

    <div class="row">
        <div class="col-sm-12">
            <h4>概要</h4>
            <ul>
                <li>作成ギルド: {{ $ctrl.guild.name }}</li>
                <li>状態: {{ $ctrl.doc.state }}</li>
                <li>話し合いのあったスレッド: <a target="_self" href="#">雑談スレ</a></li>
                <li>原案: xxx</li>
                <li>対案: xxx, xxx, xxx</li>
                <li>作成日: {{ $ctrl.doc.created }}</li>
                <li>最終更新日: {{ $ctrl.doc.modified }}</li>
            </ul>
        </div>
    </div>
    <hr/>

    <div class="row">
        <div class="col-sm-12">
            <p style="white-space: pre;">{{ $ctrl.doc.content }}</p>
        </div>
    </div><!-- row -->
    <hr/>

</div>

