<div class="container">
    <h3>{{ $ctrl.guild.name }}</h3>
    <p>{{ $ctrl.guild.description }}</p>
    <hr/>

    <h4>最近のギルドの活動</h4>
    <ul>
        <li>20xx/x/x ... 同盟を結びました。</li>
        <li>20xx/x/x ... ギルドが開設されました。</li>
    </ul>
    <hr/>

    <h4><a target="_self" href="/boards/view/{{ $ctrl.board.id }}">{{ $ctrl.board.name }}</a></h4>
    <ul ng-repeat="el in $ctrl.threads">
        <li><a target="_self" href="/threads/view/{{ el.id }}">{{ el.name }}</a></li>
    </ul>
    <hr/>

    <h4>入会</h4>
    <p>{{ $ctrl.guild.name }}への入会には<a target="_self" href="/users/signin">サインイン</a>が必要です。</p>
</div>

