<div class="container">
    <div class="site-header text-center">
        <h3>{{ $ctrl.site.name }}</h3>
        <p>{{ $ctrl.site.description }}</p>
    </div>
    <hr/>

    <h4>ニュース</h4>
    <ul ng-repeat="el in $ctrl.news">
        <li>20xx/xx/xx ... {{ el.content }}</li>
    </ul>
    <hr/>

    <h4>ギルド一覧</h4>
    <ul ng-repeat="el in $ctrl.guilds">
        <li><a href="/guilds/view/{{ el.id }}">{{ el.name }}</a></li>
    </ul>
    <hr/>

    <a href="/threads">スレッド一覧</a>
    <hr/>

    <h4>ロビーのスレッド一覧</h4>
    <ul ng-repeat="el in $ctrl.guestThreads">
        <li><a target="_self" href="/threads/view/{{ el.id }}">{{ el.name }}</a></li>
    </ul>
</div>

