<div class="container">
    <div class="site-header text-center">
        <h3>{{ $ctrl.site.name }}</h3>
        <img alt="{{ $ctrl.site.name }}" src="{{ $ctrl.symbol.url }}" />
        <p style="white-space: pre;">{{ $ctrl.site.description }}</p>
    </div>
    <hr/>

    <div class="row">
        <div class="col-sm-6">
            <h4>ニュース</h4>
            <ul ng-repeat="el in $ctrl.news">
                <li>{{ el.created }} ... {{ el.content }}</li>
            </ul>
        </div>

        <div class="col-sm-6">
            <h4>ギルド一覧</h4>
            <ul ng-repeat="el in $ctrl.guilds">
                <li><a href="/guilds/view/{{ el.id }}">{{ el.name }}</a></li>
            </ul>
        </div>
    </div>
    <hr/>

    <div class="row">
        <div class="col-sm-6">
            <h4>スレッド一覧</h4>
            <ul ng-repeat="el in $ctrl.threads">
                <li><a target="_self" href="/threads/view/{{ el.id }}">{{ el.name }}</a></li>
            </ul>
        </div>
        <div class="col-sm-6">
            <h4>文書一覧</h4>
            <ul ng-repeat="el in $ctrl.customDocs">
                <li><a target="_self" href="/docs/view/{{ el.docId }}">{{ el.docName }}</a> (<a target="_self" href="/guilds/view/{{ el.guildId }}">{{ el.guildName }}</a>)</li>
            </ul>
        </div>
    </div>
    <hr/>

</div>

