<div class="container" style="border:0px solid red;">
    <div class="row">
        <div class="col-sm-12">
            <h3>{{ $ctrl.guild.name }}</h3>
        </div>
    </div> 
    <hr/>

    <div class="row">
        <div class="col-sm-3">
            <img class="img-thumbnail" src="{{ $ctrl.guildSymbolUrl }}" />
        </div>
        <div class="col-sm-6">
            <p style="white-space: pre;">{{ $ctrl.guild.description }}</p>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    ギルド概要
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">名称</div>
                        <div class="col-sm-8">{{ $ctrl.guild.name }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">設立日</div>
                        <div class="col-sm-8">{{ $ctrl.guild.created }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">員数</div>
                        <div class="col-sm-8">xxx</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">文書総数</div>
                        <div class="col-sm-8">xxx</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">板総数</div>
                        <div class="col-sm-8">xxx</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">スレッド総数</div>
                        <div class="col-sm-8">xxx</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>

    <div class="row">
        <div class="col-sm-6">
            <h4>ヘッドライン</h4>
            <p>雑談スレの新着 5 コメント</p>
            <ul>
                <li>204: 名無しさん: そうだよ。</li>
                <li>203: 名無しさん: そうかな。</li>
                <li>202: 名無しさん: そうだよ。</li>
                <li>201: 名無しさん: そうかな。</li>
                <li>200: 名無しさん: そうかな。</li>
            </ul>
        </div>
        
        <div class="col-sm-6">
            <h4>ニュース</h4>
            <ul ng-repeat="el in $ctrl.news">
                <li>{{ el.created }} ... {{ el.content }}</li>
            </ul>
        </div>
    </div>
    <hr/>

    <div class="row">
        <div class="col-sm-12">
            <h4>文書</h4>
            <ul ng-repeat="el in $ctrl.publishedDocs">
                <li><a target="_self" href="/docs/view/{{ el.id }}">{{ el.name }}</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <h4>提案</h4>
            <ul ng-repeat="el in $ctrl.draftDocs">
                <li><a target="_self" href="/docs/view/{{ el.id }}">{{ el.name }}</a></li>
            </ul>
        </div>
        <div class="col-sm-6">
            <h4>対案</h4>
            <ul ng-repeat="el in $ctrl.counterDocs">
                <li><a target="_self" href="/docs/view/{{ el.id }}">{{ el.name }}</a></li>
            </ul>
        </div>
    </div>
    <hr/>

    <div class="row">
        <div class="col-sm-6">
            <h4>板一覧</h4>
            <ul ng-repeat="el in $ctrl.boards">
                <li><a target="_self" href="/boards/view/{{ el.id }}">{{ el.name }}</a></li>
            </ul>
        </div>

        <div class="col-sm-6">
            <h4>入会</h4>
            <p>{{ $ctrl.guild.name }}への入会には<a target="_self" href="/users/signin">サインイン</a>が必要です。</p>
        </div>
    </div>
    <hr/>

</div><!-- container -->

