<div class="footer">
    <div class="row">
        <div class="col-md-12">
            <p>サイトマップ</p>
            <ul>
                <li><a target="_self" href="/">トップページ</a></li>
                <li><a target="_self" href="/guilds">ギルド</a></li>
                <li><a target="_self" href="/boards">板</a></li>
                <li><a target="_self" href="/threads">スレッド</a></li>
                <li><a target="_self" href="/docs">文書</a></li>
            </ul>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12 text-center text-muted">
            <span><a target="_self" href="//github.com">GitHub</a></span> |
            <span><a target="_self" href="//2ch.net">2ch</a></span>
        </div>
    </div>
    <hr/>
    <div class="row">
        <p class="col-md-12 text-center text-muted">2016 (c) GMS</p>
    </div>
</div>

