<div class="container">
    <div class="col-sm-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <p>板のスレ一覧</p>
            </div>
            <div class="panel-body">
                <div ng-repeat="el in $ctrl.threads">
                    <p><a target="_self" href="/threads/view/{{ el.id }}">{{ el.name }}</a></p> 
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-10">
        <h3>{{ $ctrl.board.name }} &gt; {{ $ctrl.thread.name }}</h3>
        <hr/>

        <p>スレッドID: {{ $ctrl.thread.id }}</p>
        <hr/>

        <div ng-repeat="el in $ctrl.posts">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-12">
                            <span>{{ $index+1 }}</span> <strong>{{ el.name }}</strong> <span class="text-muted">{{ el.created }}</span>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-11">{{ el.content }}</div>
                        <img class="col-sm-1 img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                    </div>
                </div>
            </div>
        </div>
        <hr/>

        <div class="panel panel-default">
            <div class="panel-heading">コメント投稿</div>
            <div class="panel-body">
                <form method="post" accept-charset="utf-8" action="/posts/add">
                    <div style="display:none;">
                        <input type="hidden" name="_method" value="POST"/>
                        <input type="hidden" name="_csrfToken" value="{{ $ctrl.csrf }}"/>
                        <input type="hidden" name="threadId" value="{{ $ctrl.thread.id }}"/>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-xs-1">
                            <!--<label for="name" class="col-xs-1 control-label text-muted">投稿者名</label>-->
                            <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                            </div>
                            <div class="col-xs-11">
                                <input name="name" type="text" class="form-control" value="{{ $ctrl.postName }}" placeholder="{{ $ctrl.postName }}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="content" class="col-xs-1 control-label text-muted">内容</label>
                            <div class="col-xs-11">
                                <textarea class="col-xs-12" name="content" rows="5" placeholder="内容"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-offset-1 col-xs-11">
                                <input type="submit" class="btn btn-default" value="書き込む" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
