<div class="container" ng-if="$ctrl.user">
    <div class="row">
        <div class="col-sm-12">
            <h3>ユーザー</h3>
        </div>
    </div>
    <hr/>

    <div class="row">
        <div class="col-sm-12">
            <ul>
                <li>ユーザーID: {{ $ctrl.user.id }}</li>
                <li>ユーザー名: {{ $ctrl.user.name }}</li>
            </ul>
        </div>
    </div>
    <hr/>

    <div class="row">
        <div class="col-sm-12">
            <h4>{{ $ctrl.user.name }}の所属ギルド</h4>
            <p ng-if="$ctrl.userGuilds.length === 0">
                所属しているギルドはありません。
            </p>
            <ul ng-repeat="el in $ctrl.userGuilds">
                <li><a target="_self" href="/guilds/view/{{ el.id }}">{{ el.name }}</a></li>
            </ul>
        </div>
    </div>
    <hr/>

</div>

