.post {
    border: 1px solid red;
    padding: 1em;
}

/**
 * body の background は footer の背景色になる
 */
body {
    background: #fefefe;
}

/**
 * body の background を上書き。これはコンテンツの背景色になる
 */
body .background {
    background: #fff;
}

.footer {
    margin-top: 2em;
    border-top: 1px #eee solid;
    background: #fefefe;
    padding: 4em;
}

.site-header * {
    padding: 0.4em;
}

