/**
 * Bootstrap
 */

.navbar-default {
    border: 0px solid red;
    padding: 4px;
    background: #fff;
    color: #fefefe;
}

.navbar {
    margin-bottom: 0;
}

.h1, .h2, .h3, h1, h2, h3 {
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 10px;
}

/**
 * gm
 */

/**
 * body の background は footer の背景色になる
 */
body {
    background: #ececec;
}

/**
 * body の background を上書き。これはコンテンツの背景色になる
 */
.gm-background {
    background: #f9f9f9;
}

.gm-footer {
    margin-top: 2em;
    border-top: 0px #eee solid;
    background: #ececec;
    padding: 4em;
}

/**
 * アイキャッチの背景画像
 * 背景画像への透過色
 * アイキャッチのコンテンツ
 *
 * <gm-eye-catch>
 *   <transparent>
 *     <content></content>
 *   </transparent>
 * </gm-eye-catch>
 */
.gm-eye-catch {
    height: 100px;
    width: 100%;
    background-color: #99aaff;
    /*background-position: center;
    background-image: url('/img/sites/eye-catch.png');
    background-repeat: repeat-x;
    background-position: center;
    background-size: cover;*/
}
.gm-eye-catch a {
    color: #005599;
}
.gm-eye-catch h1 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 1.8em;
}
.gm-eye-catch .transparent {
    padding: 2em;
    /*background-color: rgba(255, 255, 255, 0.6);*/
    height: 100px;
    width: 100%;
}
.gm-eye-catch .content {
    height: 180px;
    width: 100%;
    text-align: center;
    color: black;
}

/**
 * コンテンツ
 */
.gm-content {
    margin-top: 2em;
}

.gm-col {
    border: 1px solid #ececec;
    border-radius: 4px;
    background-color: white;
}

.gm-panel {
    border: 1px solid #eee;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 2px;
    background-color: white;
}

.gm-panel-body {
    border: 0px solid red;
}

