<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>ユーザー</h3>
        </div>
    </div>
    <hr/>

    <div class="row">
        <div class="col-sm-12">
            <ul>
                <li>ユーザーID: {{ $ctrl.viewUser.id }}</li>
                <li>ユーザー名: {{ $ctrl.viewUser.name }}</li>
            </ul>
        </div>
    </div>
    <hr/>

    <div class="row">
        <div class="col-sm-12">
            <h4>{{ $ctrl.viewUser.name }}の所属ギルド</h4>
            <p ng-if="$ctrl.viewUserGuilds.length === 0">
                所属しているギルドはありません。
            </p>
            <ul ng-repeat="el in $ctrl.viewUser.guilds">
                <li>
                    <a target="_self" href="/guilds/view/{{ el.id }}">{{ el.name }}</a>
                    <div ng-if="$ctrl.viewUser.id === $ctrl.authUser.id" style="display:inline-block;">
                        <form method="post" accept-charset="utf-8" action="/guilds/leave">
                            <div style="display:none;">
                                <input type="hidden" name="_method" value="POST"/>
                                <input type="hidden" name="_csrfToken" value="{{ $ctrl.csrf }}"/>
                                <input type="hidden" name="userId" value="{{ $ctrl.authUser.id }}"/>
                                <input type="hidden" name="guildId" value="{{ el.id }}"/>
                            </div>
                            <input type="submit" value="退会する"/>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <hr/>

</div>

