<div ng-include="'/js/template/sites/eye-catch.html'"></div>

<div class="container gm-content">

    <div class="row">
        <div class="col-sm-3 gm-col">
            <div class="row">
                <h4>ニュース</h4>
                <div ng-repeat="new in $ctrl.news"
                     ng-include="'/js/template/sites/news-list.html'">
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12">
                    <div ng-repeat="post in $ctrl.posts"
                         ng-include="'/js/template/sites/posts-list.html'">
                    </div>

                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-12">
                    <div ng-include="'/js/template/sites/posts-form.html'">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-3 gm-col">
            <div class="row">
                <div class="col-sm-3">
                    R
                </div>
            </div>
        </div>
    </div>




    <div class="row">
        <div class="col-sm-6">
            <h4>ニュース</h4>
            <ul ng-repeat="el in $ctrl.news">
                <li>{{ el.created }} ... {{ el.content }}</li>
            </ul>
        </div>

        <div class="col-sm-6">
            <h4><a target="_self" href="/guilds">ギルド</a></h4>
            <ul ng-repeat="el in $ctrl.guilds">
                <li><a href="/guilds/view/{{ el.id }}">{{ el.name }}</a></li>
            </ul>
        </div>
    </div>
    <hr/>

    <div class="row">
        <div class="col-sm-6">
            <h4><a target="_self" href="/boards/view/{{ $ctrl.board.id }}">{{ $ctrl.board.name }}</a></h4>
            <ul ng-repeat="el in $ctrl.threads">
                <li><a target="_self" href="/threads/view/{{ el.id }}">{{ el.name }}</a></li>
            </ul>
        </div>
        <div class="col-sm-6">
            <h4><a target="_self" href="/docs">文書</a></h4>
            <ul ng-repeat="el in $ctrl.docs">
                <li><a target="_self" href="/docs/view/{{ el.id}}">{{ el.name }}</a> (<a target="_self" href="/guilds/view/{{ el.ownerId }}">{{ el.ownerName }}</a>)</li>
            </ul>
        </div>
    </div>
    <hr/>
</div>

