<div class="container gm-content">
    <div class="row">

        <div class="col-sm-3">
            <div class="row">
                <div class="col-sm-12">
                    <gm-sites-news-list></gm-sites-news-list>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12">
                    <gm-sites-description></gm-sites-description>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <gm-guilds-thumbs></gm-guilds-thumbs>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div ng-include="'/js/template/sites/posts-ajax-form.html'">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div ng-repeat="post in $ctrl.posts"
                         ng-include="'/js/template/sites/posts-list.html'">
                    </div>

                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="row">
                <div class="col-sm-12">
                    <gm-guilds-list></gm-guilds-list>
                </div>
            </div>
        </div>

    </div><!-- row -->
</div><!-- container -->

