<div class="panel panel-default">
    <div class="panel-heading">コメント投稿</div>
        <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-1">
                        <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                        </div>
                        <div class="col-xs-11">
                            <input ng-model="$ctrl.postName" name="name" type="text" class="form-control" value="{{ $ctrl.postName }}" placeholder="{{ $ctrl.postName }}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="content" class="col-xs-1 control-label text-muted">内容</label>
                        <div class="col-xs-11">
                            <textarea ng-model="$ctrl.content" class="col-xs-12" name="content" rows="5" placeholder="内容"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-1 col-xs-11">
                            <button ng-click="$ctrl.post()" class="btn btn-default">書き込む</button>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

